.navbar{
    background-color:#1C2B35;
    margin: 0 auto;
    padding:0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav2 a{
    margin-left: 15px;
}
.nav2 a:hover{
    color:orange;
}